* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blocks {
    border: 1px solid black;
    padding: 15px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
   
}

.block {
    min-height: 150px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
   
}
.block:nth-of-type(1){
    grid-row: span 2;
    grid-column: span 4;
}
.block:nth-of-type(2){
    grid-row: span 2;
    grid-column: span 2;
}

